/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 2% 5%;
  text-align: center;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  border: none;
}

/* Paul's code starts here */

body {
  background-color: white;
  font-family: 'Sarabun', sans-serif;
}

h1 {
  color: #023047;
  font-size: 200%;
  margin-top: 50px;
}

h2 {
  color: black;
  ;
}

h3 {
  font-size: 150%;
}

article {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  margin: 20px 0 40px 0;
  min-width: 270px;
  display: block;
  font-size: 150%;
  text-align: justify;
  padding: 7%;
  color: black;
}

footer {
  text-align: center;
}

hr {
  color: black;
  flex-direction: column;
  border: 2px solid black;
}

nav {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  margin: -4px 0px 0px 0px;
  padding: 10px;
  min-width: 270px;
  display: block;
  text-align: center;
  z-index: 2;
}

.navDefaultText{
  display: none;
}

.careerTitle {
  font-size: 3vw;
  list-style: none;
}

.fullName {
  font-size: 5vw;
  font-family: 'Neucha', cursive;
  font-weight: bolder;
}

.languages {
  display: block;
  text-align: end;
}

.logo {
  height: 50px;
  border-radius: 20%;
  padding: 0 0.5%;
}

.nameTitle {
  max-width: 1200px;
  margin: 0vw 0 7vw 6vw;
}

.nameTop {
  display: inline-flex;
  z-index: 0;
  font-family: 'Neucha', cursive;
  text-align: center;
  align-items: flex-end;
}

.navDefault {
  display: inline-block;
  flex-direction: row;
  margin: 1%;
  width: 250px;
  height: 250px;
  text-align: center;
  filter: grayscale(100%);
  transition: filter 0.25s ease-in-out;
}


.navDefault:hover {
  filter: none;
}

.navSelected {
  display: inline-block;
  flex-direction: row;
  margin: 1%;
  width: 250px;
  height: 250px;
  text-align: center;
  filter: none;
  transition: filter 0.25s ease-in-out;
}


.paul {
  height: 25vw;
  margin: 0px -30px 0px 0px;
  vertical-align: middle;
  z-index: -1;
}

.paulSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.projectPanel{
  background-color:#219ebc;
  display: flex;
  width: 400px;
  height: 200px;
  padding: 2%;
  margin: 5%;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  border: 3px solid black;
  opacity: 0;
  transform: scale(1.2);
  /* animation-name: wipe-enter ; */
}

.projectPanel-transition {
  opacity: 1;
  transform: none;
}

.topic {
  color: #023047;
  font-size: 200%;
  margin: 0 0 1%;
}

@media (max-width: 606px) {
  .careerTitle {
    font-size: 5vw;
    list-style: none;
  }
  .fullName {
    font-size: 7vw;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
  }
  .paul {
    height: 72vw;
    margin: 0;
    vertical-align: middle;
    z-index: -1;
  }
  .nameTitle {
    max-width: 1200px;
    margin: 0px;
  }
  .nameTop {
    display: inline-flex;
    flex-direction: column-reverse;
    z-index: 0;
    font-family: 'Neucha', cursive;
    text-align: center;
    align-items: center;
  }
  img.navDefault {
    display: none;
  }

  img.navSelected {
    display: none;
  }
  div.navDefault {
    background-color: #8ecae6;
    display: inline-block;
    flex-direction: row;
    margin: 2% 1%;
    padding: 3%;
    width: -webkit-fill-available;
    height: 50px;
    text-align: center;
    filter: grayscale(100%);
    transition: filter 0.25s ease-in-out;
  }

.navDefaultText{
    display: block;
    font-size: 120%;
    text-align: center;
    line-height: 6vh;
    width: -webkit-fill-available;
    height:50px;

}
}

@media (prefers-reduced-motion: no-preference) {
  .projectPanel {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }}


/* @keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
} */

