body {
background-color: #FEC89A;

}

h1{
    color: #023047;
    font-family: 'Sarabun', sans-serif;
}

h2{
    color: #219EBC;
    font-family: 'Sarabun', sans-serif;
}

footer{
    font-family: 'Sarabun', sans-serif;
}

hr {
    color: black;
    max-width: 600px;
    flex-direction: column;
}