/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 2% 5%;
  text-align: center;
  font-family: 'Neucha', cursive;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  border: none;
}

/* Paul's code starts here, selectors are sorted by types and alphabets. */

a {
  text-decoration: none;
  text-emphasis: none;
}

article {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  margin: 20px 0 40px 0;
  min-width: 270px;
  display: block;
  font-size: 150%;
  text-align: justify;
  padding: 7%;
  color: black;
}

body {
  background-color: white;
}

button{
  font-family: 'Neucha', cursive;
  font-size: 100%;
  border-radius: 10px;
  background-color: #e1ccec;
  margin: 1% 0;
  padding: 2% 3%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer>div{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin: 1% 0;
}

p{
  font-family: 'Neucha', cursive;
  line-height: 1.5em;
}

h1 {
  color: #023047;
  font-size: 200%;
  margin-top: 50px;
}

h2 {
  color: black;
  ;
}

h3 {
  font-size: 150%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

label{
  margin: 2% 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form>input{
  width: -webkit-fill-available;
  height: 9vh;
  background-color: #e1ccec;
  border-radius: 10px;
}

li{
  margin-bottom: 2vw;
  margin-top: 2vw;
}

hr {
  color: black;
  flex-direction: column;
  border: 2px solid black;
}


div.aboutMe{
  display: flex;
  align-items: center;
}

img.aboutMeRight{
  width: 390px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  margin: 3% 0 3% 10%;
  opacity: 0;
  transform: translateY(50px);
}

p.aboutMeRight, p.aboutMeLeft{
  opacity: 0;
  transform: translateY(50px);
}

img.aboutMeLeft{
  width: 390px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  margin: 3% 10% 3% 0%;
  opacity: 0;
  transform: translateY(50px);
}

p.transition, img.transition, a.transition, div.transition, h3.transition, h1.transition, nav.transition{
  opacity: 1;
  transform:none;
}

.careerTitle {
  font-size: 3vw;
  list-style: none;
}

.fullName {
  font-size: 5vw;
  font-family: 'Neucha', cursive;
  font-weight: bolder;
}

.inputLarge{
  width: -webkit-fill-available;
  height: 30vh;
  background-color: #e1ccec;
}

.languages {
  display: block;
  text-align: end;
}

.logo {
  height: 50px;
  border-radius: 20%;
  padding: 0 0.5%;
}

.nameTitle {
  max-width: 1200px;
  margin: 0vw 0 7vw 6vw;
}

.nameTop {
  display: inline-flex;
  z-index: 0;
  font-family: 'Neucha', cursive;
  text-align: center;
  align-items: flex-end;
}

nav {
  box-shadow: 0px 4px 20px rgb(0 0 0 / 40%);
  margin: -4px 0px 0px 0px;
  padding: 2%;
  min-width: 270px;
  display: flex;
  text-align: center;
  z-index: 2;
  line-height: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(1.2);
}

a.navDefault {
  display: inline-block;
  width: 250px;
  height: 250px;
  filter: grayscale(100%);
  transition: filter 0.40s ease-in-out;
  padding: 2%;
}

h3.navDefaultText{
  width: 250px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);  
  font-family: 'Neucha', cursive;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
  transition: all 0.40s ease-in-out 0.15s;

}

a.navDefault:hover h3.navDefaultText{
  width: 250px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);  
  font-family: 'Neucha', cursive;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -150px;

}

a.navDefault:hover{
  filter: none;
}

a.navSelected:hover {
  filter: none;
}

a.navSelected {
  display: inline-block;
  flex-direction: row;
  margin: 0 1%;
  width: 250px;
  height: 250px;
  text-align: center;
  filter: none;
  transition: filter 0.40s ease-in-out;
}


.paul {
  height: 25vw;
  margin: 0px -30px 0px 0px;
  vertical-align: middle;
  z-index: -1;
}

.paulSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectPanel{
  background-color: #e1ccec;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 200px;
  padding: 4%;
  margin-bottom: 5%;
  font-size: 120%;
  color: black;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  opacity: 0;
  transform: scale(1.2);
}

div.skill{
  position:relative ;
  }

ul.skill{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

li.skill{
  margin:0% 3% 10% 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items:center;
  width: 40%;
  text-align: left;
}

.skillCategory {
  background-color: #e1ccec;
  width: 20%;
  padding: 2% 1%;
  border-radius: 10px;
  position: relative;
  left: 15%;
  font-size: 100%;
  text-align: center;
  opacity: 0;
  transform: translateX(20px);
}
  

div.skillContent{
  width: 100%;
  position: relative;
  left: 18%;
}

div.skillContent::before{
  content: "";
  position: absolute;
  height: 100%;
  left: -5%;
  top: -10%;
  width: 3px;
  background-color: #333333;
  z-index: 0;
}

div.skillContent>ul{
  list-style: none;
  max-width: 90%;
}

div.skillContent>ul>li::before{
  list-style: none;
  content: "";
  position: absolute;
  height: 3px;
  margin-top: 2%;
  left: -5%;
  width: 10px;
  background-color: #333333;
  z-index: 0;
}


.skillContent{
  display: flex;
  margin-top: 1%;
  flex-direction: column;
  font-size: 70%;
  position: relative;
  left: 30%;
  opacity: 0;
  transform: translateY(-20px);
}

div.skillContent::before{
  content: "";
  position: absolute;
  height: 100%;
  left: -5%;
  top: -10%;
  width: 3px;
  background-color: #333333;
  z-index: 0;
}

div.skillContent>ul{
  list-style: none;
}

div.skillContent>ul>li::before{
  list-style: none;
  content: "";
  position: absolute;
  height: 3px;
  margin-top: 2%;
  left: -5%;
  width: 10px;
  background-color: #333333;
  z-index: 0;
}

.skillCategory{
  background-color: #e1ccec;
  width: fit-content;
  padding: 4% 10%;
  border-radius: 10px;
  position: relative;
  left: 0%;
  font-size: 100%;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transform: translateX(20px);
}

.skillFirstLine{
  background-color: black;
  height: 3px;
  width: 25%;
  position: absolute;
  left: -5%;
  top: -10%;
  animation: drawDown 2s ease-in;
}

.timeline {
position:relative ;
}

.timeline::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 40%;
  width: 3px;
  background-color: #333333
}

li.timeline {
  margin-bottom: 5%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.timelineContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 45%;
  opacity: 0;
  transform: translateX(-20px);
}

.timelineStone {
  margin-left: -0.5em;
  width: 20px;
  height: 20px;
  background-color: #be9fe1;
  border-radius: 100%;
  z-index: 2;
  border: 3px #333333 solid;
  position: absolute;
  left: 40%;
  opacity: 0;
  transform: scale(0.8);
}


.timelineYear {
  background-color: #e1ccec;
  width: 20%;
  padding: 2% 1%;
  border-radius: 10px;
  position: relative;
  left: 15%;
  font-size: 100%;
  text-align: center;
  opacity: 0;
  transform: translateX(20px);
}


.topic {
  color: #023047;
  font-size: 200%;
  margin: 0 0 5% 0;
  font-family: 'Neucha', cursive;
  opacity: 0;
  transform: translateX(-30px);
}

/* Responsive CSS */
@media (max-width: 606px) {
  div.aboutMe{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  img.aboutMeRight, img.aboutMeLeft{
    width: -webkit-fill-available;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    margin: 3% 0%;
    opacity: 0;
    transform: translateY(50px);
  }
  
  p.aboutMeRight, p.aboutMeLeft{
    opacity: 0;
    transform: translateY(50px);
    margin: 3% 0%;
  }
  
  p.transition, img.transition, a.transition, div.transition, h3.transition{
    opacity: 1;
    transform:none;
  }

  .careerTitle {
    font-size: 5vw;
    list-style: none;
  }
  .fullName {
    font-size: 7vw;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
  }
  .paul {
    height: 72vw;
    margin: 0;
    vertical-align: middle;
    z-index: -1;
  }

  .projectPanel{
    background-color: #e1ccec;
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 6%;
    width: -webkit-fill-available;
    height: 100px;
    font-size: 100%;
    color: black;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    opacity: 0;
    transform: scale(1.2);
  }

  .nameTitle {
    max-width: 1200px;
    margin: 0px;
  }
  .nameTop {
    display: inline-flex;
    flex-direction: column-reverse;
    z-index: 0;
    font-family: 'Neucha', cursive;
    text-align: center;
    align-items: center;
  }
  img.navDefault {
    display: none;
  }

  img.navSelected {
    display: none;
  }
  a.navDefault {
    background-color: #D8F3DC;
    margin: 2% 1%;
    padding: 3%;
    width: -webkit-fill-available;
    height: 50px;
  }

  h3.navDefaultText{
    font-size: 150%;
    height: 50px;
    background-color: #D8F3DC;
    font-family: 'Neucha', cursive;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
    transition: none}

  a.navDefault:hover h3.navDefaultText{
    font-size: 150%;
    background-color: #D8F3DC; 
    font-family: 'Neucha', cursive;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
  }

  .skill{
    position:relative ;
    }
    
  li.skill{
    margin-bottom: 10%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 90%;
    text-align: left;
  }
  
  .skillContent{
    display: flex;
    margin-top: 1%;
    flex-direction: column;
    font-size: 70%;
    position: relative;
    left: 30%;
    opacity: 0;
    transform: translateY(-20px);
  }
  div.skillContent{
    width: fit-content;
    position: relative;
    left: 18%;
  }

  div.skillContent::before{
    content: "";
    position: absolute;
    height: 100%;
    left: -5%;
    top: -10%;
    width: 3px;
    background-color: #333333;
    z-index: 0;
  }

  div.skillContent>ul{
    list-style: none;
  }
 
  div.skillContent>ul>li::before{
    list-style: none;
    content: "";
    position: absolute;
    height: 3px;
    margin-top: 2%;
    left: -5%;
    width: 10px;
    background-color: #333333;
    z-index: 0;
  }
  
  .skillCategory{
    background-color: #e1ccec;
    min-width:fit-content;
    width: 20%;
    padding: 2.5% 3%;
    border-radius: 10px;
    position: relative;
    left: 0%;
    font-size: 80%;
    text-align: center;
    opacity: 0;
    transform: translateX(-20px);
    z-index: 2;
  }

  .skillFirstLine{
    display: none;
  }

  .timeline{
    position:relative ;
    }
    
  .timeline::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0%;
    width: 3px;
    background-color: #333333
  }
  
  li.timeline{
    margin-bottom: 10%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 90%;
    text-align: left;
  }
  
  .timelineContent{
    display: flex;
    margin-top: 1%;
    flex-direction: column;
    font-size: 70%;
    position: relative;
    left: 11%;
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .timelineStone {
    margin-left: -0.5em;
    width: 20px;
    height: 20px;
    background-color: #be9fe1;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: absolute;
    left: 0%;
    top: 7%;
    opacity: 0;
    transform: scale(0.8);
  }
  
  
  .timelineYear{
    background-color: #e1ccec;
    width:fit-content;
    padding: 2.5% 3%;
    border-radius: 10px;
    position: relative;
    left: 8%;
    font-size: 80%;
    text-align: center;
    opacity: 0;
    transform: translateX(-20px);
  }

  a.navSelected {
  background-color: #D8F3DC;
  margin: 2% 1%;
  padding: 3%;
  width: -webkit-fill-available;
  height: 50px;
  }
  @media (prefers-reduced-motion: no-preference) {
    .projectPanel {
      transition: opacity 1.5s ease, transform 1.5s ease;
    }}
    p.aboutMeRight{
      transition: opacity 1.5s ease, transform 1.5s ease;
      transition-delay: 0s;
    }
  
    img.aboutMeRight{
      transition: opacity 1.5s ease, transform 1.5s ease;
      transition-delay: 0s;
    }
  
    p.aboutMeLeft{
      transition: opacity 1.5s ease, transform 1.5s ease;
  
    }
  
    img.aboutMeLeft{
      transition: opacity 1.5s ease, transform 1.5s ease;
  
    }

}

/* Animation Section (Main View)*/
@media (prefers-reduced-motion: no-preference) {
  .projectPanel, .timelineStone, .timeline, .topic, nav {
    transition: opacity 1s ease, transform 1s ease;
  }
  p.aboutMeRight, .timelineYear, .skillCategory{
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: 0.50s;
  }

  .timelineContent, .skillContent{
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: 1s;
  }

  div.skillFirstLine{
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: 1.5s;
  }

  img.aboutMeRight{
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: 0.50s;
  }

  p.aboutMeLeft{
    transition: opacity 1s ease, transform 1s ease;

  }

  img.aboutMeLeft{
    transition: opacity 1s ease, transform 1s ease;
  }

}