body {
    background-color: #FEC89A;
}

h1 {
    color: #023047;
    font-family: 'Sarabun', sans-serif;
}

h2 {
    color: black;
    font-family: 'Sarabun', sans-serif;
}

footer {
    font-family: 'Sarabun', sans-serif;
}

hr {
    color: black;
    flex-direction: column;
}

.navDefault {
    background-color: #8ecae6;
}

.navSelected {
    background-color: #219ebc;
}