.skill{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    flex-direction: column;
    margin-bottom: 2em;
}

.categoryWrapper{
  width: 100%;
}

.skillCategory{
background-color: #e1ccec;
    width: fit-content;
padding: 5% 10%;
min-height: 58.5px;
margin-bottom: 0.5em;
    border-radius: 10px;
    position: relative;
    left: 0%;
    font-size: 150%;
    text-align: center;
    z-index: 1;
}

.skillContent{
display: flex;
    line-height: 2em;
    flex-direction: row;
    font-size: 110%;
    position: relative;
    left: 0%;
    align-items: center;
}
.skillContentWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.skillContent::before{
content: "";
width: 8px;
height: 3px;
background-color: black;
margin-right: 5px;
}

.skillFirstLine{
    background-color: black;
    height: 3px;
    width: 25%;
    position: relative;
}

.skillVertLine{
    background-color: black;
    width: 3px;
    position: relative;
}