@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline {
  width: 3px;
  background-color: black;
  position: relative;
  left: 0;
  padding-bottom: 20%;
}


.timelineContent {
  display: block;
  text-align: left;
  line-height: 3vw;
  background-color: transparent;
  width: fit-content;
  max-width: 30%;
  height: auto;
  padding: 2% 1%;
  position: absolute;
  left: 55%;
  font-size: 150%;

  
//   opacity: 0;
//   transform: translateX(-20px);
}

div.timelineContent>p {
  line-height: normal;
}

.timelineStone {
  margin-left: -0.5em;
  width: 20px;
  height: 20px;
  background-color: #be9fe1;
  border-radius: 100%;
  z-index: 2;
  border: 3px #333333 solid;
  position: absolute;
    left: calc(50% - 1.5px);
//   opacity: 0;
//   transform: scale(0.8);
}

.timelineYear {
  display: flex;
  background-color: #e1ccec;
  max-width: 30%;
  width: fit-content;
  height: auto;
  padding: 2% 1%;
  border-radius: 10px;
  position: absolute;
  right: 55%;
  font-size: 200%;
  flex-direction: row;
  justify-content: center;
//   opacity: 0;
//   transform: translateX(20px);
}

@media (max-width:750px){
  .timeline {
    padding-bottom: 30%;
  }

  .timelineContent {
    font-size: 3.5vw;
  }
  .timelineYear {
  font-size: 3.5vw;
  }

}