@import url(https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Neucha&display=swap);


.paulSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectPanel {
  background-color: #e1ccec;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding: 4%;
  margin-bottom: 5%;
  font-size: 4vw;
  color: black;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
//   opacity: 0;
//   transform: scale(1.2);
}
