@import url(https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Neucha&display=swap);


.logo {
  display: flex;
  width: 48px;
  // padding: 1vw;
  margin: 1.5%;
}

.logosArea{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
}

@media (max-width:950px) {
  .logo {
    width: 10vw;
    min-width: 30px;
  }
}